.app-ball{
    background-color: rgb(202, 70, 22);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    width: 3em;
    height: 2.25em;
    padding-top: 0.75em;
    text-align: center;
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px 5px;
}
.app-ball[data-status="true"]{
    background-color: gold;
}